{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>Default - Index page</h1>

    <a class="btn btn-primary" href="/template-1">template1</a>
    <a class="btn btn-primary" href="/template-2">template2</a>
    <a class="btn btn-primary" href="/template-3">template3</a>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}