{{#with data}}
<div class="articles_card" id="{{id}}">
    <div class="article_img_card">
        <img src="{{photo}}" alt="foto article" class="articles_img">
        {{#if isNew}}
        <div class="articles_new">NEW</div>
        {{/if}}
    </div>
    <div class="atricles_name">{{name}}</div>
    <p class="articles_description">{{description}}</p>
    <button type="submit" class="articles_button">Read All</button>
</div>
{{/with}}