{{#with data}}
<div class="updates_list">
    <img src="https://picsum.photos/32/32" alt="avatar user" class="updates_list_avatar">
    <div class="update_list_post">
        <div class="update_list_post_nickname">{{nickname}}</div>
        <div class="update_list_post_description">{{description}}</div>
    </div>
</div>
{{/with}}